*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(2,500px);
    grid-template-rows: repeat(3,400px);
    width: 1200px;
    height: 100%;
    justify-content: space-between;
    
}
p{
    font-size: 28px;
}


.text{
    width: 25vw;
    height: 15vh;
    gap: 50px;
 }

.images{
    position: relative;
    gap: 50px;

    
   
    
}
.image1{
    position: absolute;
    z-index: 1;
    top: -90px;



    

}
.image2{
    z-index: 2;
    position: absolute;
    left: 295px;

    
}
.image3{
    z-index: 3;
    position: absolute;
    top: 105px;
    left: 45px;
}  
  